@keyframes titleBounce {
  0% {
    transform: translateY(-1rem);
  }

  50% {
    transform: translateY(0rem);
  }

  100% {
    transform: translateY(-1rem);
  }
}

@keyframes newJokeRotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(-360deg);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins';
}

body {
  background-color: #333333;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100vw;
}

.title {
  font-size: 5rem;
  animation: titleBounce 2s ease-in-out infinite;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100vw;
  position: relative;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 75%;
  width: 75%;
}

#joke {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 60%;
  width: 75%;
  background-color: #444444;
  border-radius: 4rem;
  text-align: center;
  padding: 2rem;
}

#new-joke {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 8rem;
  margin: 2rem;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  background-color: #444444;
  transition: background-color ease-in-out 0.2s;
}

#new-joke:hover {
  background-color: #3A3A3A;
}

#new-joke:hover img {
  animation: newJokeRotate 0.75s ease-in-out 0.2s;
}

#new-joke img {
  height: 7rem;
  width: 7rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100vw;
}

.using {
  font-size: 2rem;
}

.using a {
  text-decoration: none;
  color: rgb(73, 73, 171);
  font-weight: bold;
}